/* * {
  outline:1px solid red;
} */
.body {
    background: rgba(24, 17, 7, 1); url(../images/layout/content-bg.jpg) 0 0 repeat;
    margin: 76px 0 42px;
    position: relative;

    /*overflow: hidden; /*edited*/
}

.body-top {
    background: url(../img/content-top2.png) 0 0 no-repeat;
    padding-top: 20px;
}

.body-bot {
    background: url(../img/content-bot-bg.jpg) no-repeat 0 100%;
    min-height: 500px;
    padding-bottom: 242px;
    padding-left: 0px;
    padding-top: 50px;
    position: relative;
}

.content-wrapper {
  display: flex;
  min-width: 100%;
  background-color: darkgreen1;
  flex-direction: column;
  align-items: center;
}

.content-row {
  margin-top: 50px;
  display: flex;
  width: 800px;
  flex: 0 0 auto;
  background-color: darkblue1;
  border: 1px solid red1;
  align-items: center;
  justify-content: space-between;
}

.content-row:last-child {
  padding-bottom: 150px;
}

.content-image {
  flex: 0 0 auto;
  background: url(../img/kartinka.jpg);
  background-size: contain;
  width: 320px;
  height: 180px;
  border: 1px solid red1;
}

.content-text {
  display: flex;

flex: 0 0 auto;
width: 400px;
border: 1px solid red1;
}

.content-text p{
 text-align: center;
         font: normal 24px "Diablo", sans-serif;
}

.body::before {
    background: url(../img/content-glow-sides2.png);
    bottom: 0px;
    content: "";
    left: -196px;
    pointer-events: none;
    position: absolute;
    top: 66px;
    width: 200px;
    z-index: 100;
}

.body::after {
    background: url(../img/content-glow-sides3.png) 100% 0;
    bottom: 0px;
    content: "";
    pointer-events: none;
    position: absolute;
    right: -195px;
    top: 66px;
    width: 200px;
    z-index: 100;
}

.body-top::before {
    background: url(../img/content-glow-top2.png);
    content: "";
    height: 261px;
    left: 50%;
    margin-left: -693px;
    pointer-events: none;
    position: absolute;
    top: -195px;
    width: 1386px;
    z-index: 150;
}

.body-bot::after {
    background: url(../img/content-glow-bottom.png);
    bottom: -200px;
    content: "";
    height: 261px;
    left: 50%;
    margin-left: -693px;
    pointer-events: none;
    position: absolute;
    width: 1386px;
    z-index: 150;
}
