
.body-top .server-menu{
    width: 990px;
    height: 35px;
    position: absolute;
    top: -18px;
    left: 0px;
}

.body-top .server-menu li {
    float: left;
}

.body-top .server-menu li, .body-top .server-menu li a {
    display: block;
    width: 196px;
    height: 55px;
    color: #a99877;
    font: normal 16px "Diablo", sans-serif;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000, 0 0 5px #000;
}

.server-menu li a:hover {
  color: white;
  text-shadow: 0 0 30px rgb(235 252 249 / 100%);
}

.body-top .server-menu li a span {
    display: block;
    text-align: center;
    height: 35px;
    padding-top: 18px;
    padding-right: 0px;
}



.novosti {
  text-align: center;
  font: normal 40px "Diablo", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}


.news-container .news-wrapper {
    background: url(../img/blog-separator-2.png) 50% 100% no-repeat;
    position: relative;
}

.news-container .news-wrapper>a {
    display: block;
    min-height: 90px;
    padding: 48px 114px 80px 355px;
    position: relative;
}

.news-container .news-wrapper>a:hover .news-image {
    border-color: #ba7600;
    box-shadow: 0 0 60px rgb(97 55 1 / 100%);
}

.news-container .news-image {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #3f2f29;
    box-shadow: 0 0 60px transparent;
    height: 130px;
    left: 64px;
    position: absolute;
    top: 48px;
    transition: box-shadow 0.2s, border 0.2s;
    width: 260px;
}

.news-container .header-2 {
    color: #f3e6d0;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 26px;
    margin: 0;
    transition: color 0.2s;
}


.news-container .news-text {
    color: #a99877;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    transition: color 0.2s;
}

.news-container .article-meta {
    bottom: 20px;
    color: #6d624c;
    font-size: 14px;
    left: 356px;
    line-height: 26px;
    position: absolute;
}

.news-container .load-more-container {
    padding: 48px 0 24px;
    text-align: center;
}

.news-container .load-more {
    background-image: linear-gradient(to bottom, #6b3500, #ff8308);
    color: #f5de9f;
    cursor: pointer;
    display: inline-block;
    font-family: "Exocet Reaper", "Palatino Linotype", "Times", serif;
    font-size: 24px;
    line-height: 36px;
    padding: 12px 36px;
    position: relative;
    transition: background 0.2s, color 0.2s;
    text-transform: uppercase;
}
.news-container .load-more:hover {
    color: #fef3d4;
}

/*--------------------------------------------*/

.connect-text {
  text-align: center;
  line-height: 20px;
  white-space: pre-line;
  margin-top: 70px;
}

.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
display: none;
margin-left: 990px;
bottom:50px;
text-indent:-9999px;
z-index: 9999;
background: url('../server/img/icon_top.png') no-repeat;
}

/* eto nado ispravit' */
.pvp-outer {
  padding: 0 31px 30px 31px;
  min-height: 400px;
}

.pvp-inner {
  padding: 15px 0 30px 0;
background: #191814;
box-shadow: 3px 3px 5px #000;
}

.pvp-outer .column {
    float: left;
    width: 182px;
    padding: 50px;
    background-color: green1;
}

.pvp-outer .pvp-menu {
    width: 232px;
    min-height: 400px;
    position: relative;
    margin-left: -2px;
    margin-top: -29px;
    padding: 0 0 10px 0;
    background-color: blue1;
}

.pvp-outer .pvp-content {
  width: 698px;
  margin-top: 5px;
  min-height: 400px;
}

.pvp-outer .pvp-menu-inner {
      padding: 30px 25px 20px 25px;
      min-height: 400px;
      background-color: purple1;
}

.pvp-outer .box {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.pvp-outer .pvp-menu .box li {
    margin: 0;
    color: #4e4536;
}

.pvp-outer a, .pvp-outer .disabled {
    display: block;
    color: #ad835a;
}

.pvp-outer a span {
    display: inline-block;
    vertical-align: middle;
}


.pvp-outer .header-3{
  margin: 0 0 35px 35px;
  font-size: 20px;
  white-space: nowrap;
  color: #F3E6D0;
  text-transform: uppercase;
  font: normal 18px "Exocet Reaper", serif;
}

.pvp-outer .subheader-3 {
    margin-bottom: 5px;
    color: #F3E6D0;
    color: #cfb991;
    font-size: 16px;
}
